<li><div id="comment-<%= @comment.id %>">
	<div class="user"><%= @comment.user.email %></div>
	<div class="content"><%= @comment.content %></div>
	<%= render "comments/response" %>
	<ul id="comment-<%= @comment.id %>">
	<% Comment.where(comment_id: @comment.id).each do |child_comment| %>
		<% @comment = child_comment %>
		<%= render "comments/comment" %>
	<% end %>
	</ul>
</div></li>