<% if current_user.nil? %>
	<p>Debes iniciar sesión o registrarte para comentar</p>
<% else %>
	<%= form_for(@new_comment = Comment.new, method: 'post', remote: true) do |f| %>
	  <% if @new_comment.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@new_comment.errors.count, "error") %> prohibited this debate from being saved:</h2>
	      <ul>
	      <% @new_comment.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

		<% # si es un comentario padre o una respuesta %>
		<% if @comment.nil? %>
		  <div class="field">
		    <%= f.hidden_field :debate_id, value: @debate.id %>
		  </div>
	  <% else %>
		  <div class="field">
		    <%= f.hidden_field :comment_id, value: @comment.id %>
		  </div>
	  <% end %>
	  <div class="field">
	    <%= f.label :content %><br>
	    <%= f.text_area :content, class: "form-control", rows: 15, cols: 10, placeholder: 'Comentario'  %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
<% end %>