// var objeto = "<%= escape_javascript(@comment.to_json) %>";
var comment = $.parseJSON("<%= escape_javascript(@comment.to_json.html_safe) %>");
if ( comment.debate_id == null )
	$("<%= escape_javascript(render @comment) %>").appendTo(".comment-list #comment-"+comment.comment_id);
else
	$("<%= escape_javascript(render @comment) %>").appendTo(".comment-list > ul");