<%= form_for(@debate) do |f| %>
  <% if @debate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debate.errors.count, "error") %> prohibited this debate from being saved:</h2>

      <ul>
      <% @debate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.bootsy_area :content, class: "form-control", rows: 15, cols: 10  %>
  </div>
  <div class="field">
    <%= f.label :featured_image %><br>
    <%= f.file_field :featured_image, multiple: false  %>
  </div>
  <div class="field">
    <% options_tag = [] %>
    <% Tag.all.each do |tag| %>
      <% options_tag.push [tag.name] %>
    <% end %>
    <%= f.label :tags %><br>
    <%= f.select(
      :tags,
      options_tag,
      { :prompt => "Please select Tag"},
      { :multiple => true}
    ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
