<% @debates.each do |debate| %>
<article class="type-debate">
  <div class="row">
    <div class="col-md-12">
      <% if (!debate.featured_image.nil? && !debate.featured_image.url.nil?) %>
        <div class="featured_image col-md-3">
          <%= image_tag(debate.featured_image.url) %>
        </div>
        <div class="wrap-text col-md-9">
      <% else %>
        <div class="wrap-text col-md-12">
      <% end %>
        <div class="ratings">
          <span class="up text-success"><i class="fa fa-smile-o"></i><%= debate.ratings.where(up: true).count %></span>
          <span class="down text-danger"><i class="fa fa-frown-o"></i><%= debate.ratings.where(down: true).count %></span>
        </div>
        <div class="entry-meta">
          <%= "por #{(debate.user.name.nil?) ? debate.user.email : debate.user.name}" %>
          <% if debate.tags.size > 0 %>
            en 
            <%= debate.tags.map{|p| link_to p.name, p, class: 'tag-link' }.join(", ").html_safe %>
          <% end %>
          el
          <time><%= debate.created_at.strftime("%d-%m-%Y") %></time>
        </div>
        <h2>
          <%= link_to debate.title, debate  %>
        </h2>
        <p class="excerpt">
          <%= resumen( debate.content ) %>
        </p>
      </div><!-- .wrap-text -->
    </div>
</article>
<% end %>
<%= link_to 'New Debate', new_debate_path %>
