<article class="single-debate">
	<p id="notice"><%= notice %></p>

	<div class="owner-actions">
		<%= link_to 'Edit', edit_debate_path(@debate) %>
		<%= link_to 'Back', debates_path %>
	</div>

	<div class="entry-header">
		<div class="entry-meta">
			<%= "por #{(@debate.user.name.nil?) ? @debate.user.email : @debate.user.name}" %>
      <% if @debate.tags.size > 0 %>
        en 
        <%= @debate.tags.map{|p| link_to p.name, p, class: 'tag-link' }.join(", ").html_safe %>
      <% end %>
      el
      <time><%= @debate.created_at.strftime("%d-%m-%Y") %></time>
		</div>
		<div class="entry-title">
			<h1><%= @debate.title %></h1>
			<div class="ratings">
				<% if current_user && Rating.where(debate_id: @debate.id, user_id: current_user.id).first.nil? %>
					<span class="up text-success">
						<%= link_to "<i class='fa fa-smile-o'></i>#{@debate.ratings.where(up: true).count}".html_safe, set_debate_rating_path(debate_id: @debate.id, up: true, down: false), remote: true, method: 'post', id: 'new_rating_up'  %>
					</span>
					<span class="down text-danger">
						<%= link_to "<i class='fa fa-frown-o'></i>#{@debate.ratings.where(down: true).count}".html_safe, set_debate_rating_path(debate_id: @debate.id, up: false, down: true), id: 'new_rating_down', remote: true, method: 'post' %>
					</span>
				<% else %>
					<span class="up text-success"><i class="fa fa-smile-o"></i><%= @debate.ratings.where(up: true).count %></span>
		      <span class="down text-danger"><i class="fa fa-frown-o"></i><%= @debate.ratings.where(down: true).count %></span>
				<% end %>
			</div>
		</div>
		<%= "<div class='featured-image'>#{image_tag(@debate.featured_image.url)}</div>".html_safe unless (@debate.featured_image.nil? || @debate.featured_image.url.nil?) %>
		<% if (!@debate.featured_image.nil? && !@debate.featured_image.url.nil?) %>
      <div class="featured_image">
        <%= image_tag(@debate.featured_image.url) %>
      </div>
    <% end %>
	</div>

	<div class="entry-content">
  	<%= @debate.content.html_safe %>
	</div>

<div id="comments">
	<div class="comment-list">
		<ul>
		<% Comment.where(debate_id: @debate.id).each do |comment| %>
			<% @comment = comment %>
			<%= render "comments/comment" %>
			<% @comment = nil %>
		<% end %>
		</ul>
	</div>
	<%= render 'comments/response' %>
</div>
</article>