<%# debate = Debate.find(debate_id) %>
<span class="up text-success"><i class="fa fa-smile-o"></i>2<%#= debate.ratings.where(up: true).count %></span>
<span class="down text-danger"><i class="fa fa-frown-o"></i>2<%#= debate.ratings.where(down: true).count %></span>