// Place all the styles related to the Debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.type-debate {
  background-color: #ffffff;
  margin-bottom: 25px;
  padding: 30px;
  position: relative;

  &:hover { box-shadow: 0px 0px 3px #d1d1d1; }

	.featured_image {

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.entry-meta {
		font-size: 12rem;
    line-height: 1.75em;
	}

	h2 {
		font-size: 25rem;
    margin-top: 10px;
	}

	.excerpt {
		margin-top: 5px;
	}

	.ratings {
		float: right;
		
		i { display: inline-block; margin-right: 2px; }
	}
}

.single-debate {
	
	h1 {
		width: calc(100% - 40px);
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}

	.ratings {
		font-size: 16rem;
		width: 35px;
		display: inline-block;
		vertical-align: middle;

		span { display: block; }
		i { margin-right: 2px; }
	}
}