#sidebar {

	.widget{
		@extend %clearfix !optional;

		h3 { color: $color-headers; margin-top: 0; margin-bottom: 2vw; }
	}

	.top-ratings {
		
		ul {
			padding: 0;

			li {
				@extend %clearfix;
				list-style: none;
				padding: 1vw;
				margin-bottom: 1vw;
				background: #fff;

				&:hover { box-shadow: 0px 0px 3px #d1d1d1; }
			}
		}

		img { max-width: 100%; height: auto; }

		.wrap-content {
			width: calc(100% - 35px);
			display: inline-block;
			vertical-align: middle;

			.meta { font-size: 12rem; }

			h4 { margin-top: 0; font-size: 18rem; }
		}

		.ratings {
			display: inline-block;
			vertical-align: middle;
			font-size: 14rem;

			span { display: block; }
			i { display: inline-block; margin-right: 2px; }
		}

		.col-md-12, .col-md-9 { padding-left: 0; padding-right: 0; }
		.col-md-3 { padding-left: 0; }
	}
}