$header-size: 51px;
$color-text: #999;
$color-headers: #666;

html {
	font-size: 6.25%!important;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
	font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif!important;
	background-color: #f1eeed!important;
	letter-spacing: .4px;
	color: $color-text;
}

main {
	padding: 50px 0;
}

footer {
	background: #414141;
}

h1, h2, h3, h4, h5, h6 { font-weight: lighter!important; }
p, ol, ul { font-size: 16rem; }

img { max-width: 100%; height: auto; }

/*
 * Header
 */

header {

	position: relative;
	background: url(isla2.jpg) bottom center no-repeat;
	background-size: cover;
	padding: 0 0 40px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: .5;
	}

	.navbar-fixed-top {
		position: relative;
		background: transparent;
		border: none;
		font-size: 14rem;

		&.now { position: fixed; }

		#desktop-menu {
			li {
				float: none!important;
				display: inline-block;
				vertical-align: middle;

				a {
					background: transparent;
					color: #dedede;
					padding: 7px 20px;
				}
				&.active > a {
					background: transparent;
					color: #dedede;
					display: inline-block;
					border-bottom: 1px solid #dedede;
				}
			}
		}
	}

	.user-site {
		

		a {
			display: inline-block!important;
			vertical-align: middle;
			&.sign-out { padding-left: 0!important; }

			.user-image {
				border: 1px solid #dedede;
				display: inline-block;
				overflow: hidden;
				border-radius: 50%;
				width: 40px;
		    height: 40px;
		    text-align: center;
		    line-height: 40px;

		    img { width: 100%; height: auto; }
		    i { font-size: 18rem; }
			}
		}
	}
}