<!DOCTYPE html>
<html>
<head>
  <title>ParticipacionIsla2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="banner" class="<%= (current_page?('/')) ? 'home' : '' %>">
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top col-md-12">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="desktop-menu">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="index.html">Home</span></a></li>
              <li><a href="design-inspiration.html">Design Inspiration</a></li>
              <li><a href="resources.html">Resource</a></li>
              <li class="user-site">
                  <% if !current_user.nil? %>
                    <%= link_to edit_user_registration_path(current_user), title: 'Edit user' do %>
                      <div class="user-image">
                      <% if ( !current_user.avatar.nil? && !current_user.avatar.url.nil? ) %>
                          <%= image_tag(current_user.avatar.url) unless (current_user.nil? || current_user.avatar.nil?) %>
                      <% else %>
                        <i class="fa fa-user"></i>
                      <% end %>
                      </div>
                    <% end %>
                    <%= link_to "Exit", destroy_user_session_path(), method: 'delete', class: 'sign-out' unless current_user.nil? %>
                  <% else %>
                    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: 'sign-in' unless !current_user.nil? %>
                  <% end %>
              </li>
            </ul>
          </div><!-- end of /.navbar-collapse -->
        </div><!-- end of /.container -->
      </nav>
      <div class="col-sm-12">
        <%= link_to "Participación Isla Cristina", root_path, class: 'navbar-brand' %>
      </div>
    </div>
  </header>

  <main>
  	<div class="container">
      <div class="row"><p id="notice"><%= notice %></p></div>
  		<div class="row">

  			<!-- blog-contents -->
  			<section class="col-md-8">
					<%= yield %>
  			</section>

  			<aside class="col-md-4 col-sm-8 col-xs-8">
          <div id="sidebar">
            <div class="widget search">
              <%# form_tag search_debate_pahth, method: get do %>
              
              <%# end %>
            </div>
            <div class="widget top-ratings">
              <h3>Más populares</h3>
              <% debates = Rating.group(:debate_id).where(up: true).order('count_up desc').count(:up) %>
              <ul>
              <% debates.each_with_index do |x, i| %>
                <% (i == 3) ? break : ''  %>
                <% debate = Debate.find(x[0]) %>
                <li>
                  <% if (!debate.featured_image.nil? && !debate.featured_image.url.nil?) %>
                  <div class="featured_image col-md-3">
                    <%= image_tag(debate.featured_image.url) %>
                  </div>
                  <div class="wrap-text col-md-9">
                <% else %>
                  <div class="wrap-text col-md-12">
                <% end %>
                  <div class="wrap-content">
                    <h4><%= link_to debate.title, debate %></h4>
                    <div class="meta">
                      <time><%= debate.created_at.strftime("%d-%m-%Y") %></time>
                      <span class="author"><%= "por #{(debate.user.name.nil?) ? debate.user.email : debate.user.name}" %></span>
                    </div>
                  </div>
                  <div class="ratings">
                    <span class="up text-success"><i class="fa fa-smile-o"></i><%= debate.ratings.where(up: true).count %></span>
                    <span class="down text-danger"><i class="fa fa-frown-o"></i><%= debate.ratings.where(down: true).count %></span>
                  </div>
                </li>
              <% end %>
              </ul>
            </div>
            <div class="widget share">
              
            </div>
          </div>
  			</aside>

  		</div>
  	</div>
  </main>

  <footer>
  	<div class="container">
  		<div class="row">
  			<!-- copyright -->
  			<div class="col-md-4 col-sm-4">
  			<%= link_to "Participación Isla Cristina ©", root_path %> by <%= link_to "Paco Castillo", 'http://castillogomez.com/', target: '_blank' %>
  			</div>

  			<!-- footer share button -->
  			<div class="col-md-4 col-sm-4">
  				<ul class="social-share text-center">
  					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
  					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
  					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
  					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
  					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
  				</ul> <!-- /.social-share -->
  			</div>

  			<!-- footer-nav -->
  			<div class="col-md-4 col-sm-4">
  				<ul class="footer-nav">
  					<li><a href="about.html">About</a></li>
  					<li><a href="privacy.html">Privacy</a></li>
  					<li><a href="contact.html">Contact</a></li>
  				</ul> <!-- /.footer-nav -->
  			</div> 
  		</div>
  	</div>
  </footer>

</body>
</html>
